img{
    width:30%;
    height:220px;
}
.box{
    width: 100%;
    height: 150px;
    background-color: blue;
    text-align: center;
}
h2{
    margin:0;
    position: absolute;
    top:5%;
    left:20%;
}
.float-img{
    float:right;
    margin-right:10px;
    margin-bottom: 5px;
    border:solid black 1px;
    padding:2px;
    width:30%;
}
p{
    font-size: small;
}
.end{
    background-color:black;
    width:100%;
    height:500px;
}
#import{
    text-align: center;
    float: none;
    font-size: large;
    font-family: cursive;
}
#insta{
    width:11%;
    height:15%;
}
#facebook{
    width:13%;
    height:18%;
}
#whatsapp{
    width:13%;
    height:18%;
}
#h3{
    margin :0;
    position:absolute;
    left:30%;
}
#photo{
    margin:0;
    position: absolute;
    left:50%;
    align-content: center;
}
.end img{
    vertical-align:middle;
    height:700px;
}
